.boton {
    background-color: #6278F7;
    border-radius: 16px;
    font-weight: 700;
    font-family: "Montserrat", sans-serif;
    padding: 24px 32px;
    border: none;
    color: #ffffff;
    margin: 24px 0px;
    cursor: pointer;
}

.boton:hover{
    background-color: #6278F7;
    color:#7ed7c4
}